[Unit]
Description=Run the Caveman backup nightly

[Timer]
OnCalendar=*-*-* 07:30:00 UTC
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
